body {
    background-color: #059;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
div.main{
    width: 100%;
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}
div.card {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
    color: #ffffff;
}
label{
  margin-top: 10px;
  margin-bottom: 10px;
}
table{
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 5px;
}

th{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    cursor: pointer;
}
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}